
p {
  font-size: 1.4vh;
}

li{
	font-size: 1.01vw;
}

h1{
	
	font-size: 4vh;
	
}

h2{
	
	font-size: 3.5vh;
}

h3{
	
	font-size: 2.5vh;
}

h1, h2, h3{
	
	font-family: 'Rubik"
}

body{
	
	background-image: url("./images/website recources/pattern.png");
}

footer{
	
	background-image: url("images/website recources/subtle_carbon.png")
}

.header-parallax{
	background-image: url("./images/website recources/header image.jpg");
	height: 500px;
	background-attachment: fixed;
	
   		background-position: center;
	-webkit-background-position: center;
    	
    	background-repeat: no-repeat;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
		
.team-parallax{
	background-image: url("./images/website recources/old-logo.jpg");
	height: 450px;
	background-attachment: fixed;
	
   		background-position: center;
	-webkit-background-position: center;
    	
    	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
}
		
.navbar-fixed-top.scrolled {
  background-color: rgba(255, 255, 255, 1)!important;
  transition: background-color 200ms linear;
}

.w3-eastwood-blue{
	color: rgba(255, 255, 255, 255)!important;
	background-color: #002e5d!important;
}

.w3-girl-powered-purple{
	color: rgba(255, 255, 255, 255)!important;
	background-color: #a1237f!important;
}

.w3-girl-powered-purple-text{
	color: #a1237f!important;
	background-color: transparent;
}

.w3-eastwood-blue-text{
	color:#002e5d!important;
	background-color: transparent!important;
}

.w3-eastwood-yellow-text{
	color: #8C7100!important;
	background-color: transparent!important;
}

.w3-dropdown-hover{
	
	background-color: transparent!important;
}